* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: blueviolet;
  height: 100vh;
}
